# Strapi CMS
STRAPI_URL=https://cms.sman1kraksaan-web.my.id
STRAPI_TOKEN=ganti-dengan-api-token-read-only

# Opsional: paksa nama plural endpoint bila berbeda (jarang perlu)
# STRAPI_CT_BERITA=beritas
